.projects-container {
    max-width: 1600px;
    margin: auto;
    padding: 40px;
    background: linear-gradient(135deg, #0d3b66, #00a8cc);
    border-radius: 12px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.company-section {
    background: #f2e9e4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.company-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0d3b66;
}

.role {
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 15px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background:#ced4da;
    padding: 15px;
    border-radius: 8px;
    width: calc(50% - 10px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: black;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Project Status Styles */
.status {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.completed {
    background-color: #28a745;
    color: white;
}

.in-progress {
    background-color: #007bff;
    color: rgb(255, 255, 255);
}

.on-hold {
    background-color: #dc3545;
    color: white;
}
